<h1>What is an Operator?</h1>

<app-brain-food>
  Operators are functions.

  <figcaption app-brain-food-caption>
    from
    <cite>
      <a href="https://rxjs.dev/guide/operators" target="_blank">rxjs.dev</a>
    </cite>
  </figcaption>
</app-brain-food>

<div class="card-grid">
  <ckad-card class="bg-accent">
    <ckad-card-header>
      <ckad-card-title class="ckad-display-2"
        >Pipable Operators</ckad-card-title
      >
    </ckad-card-header>

    <ckad-card-content>
      <p>
        A Pipeable Operator is a function that takes an Observable as its input
        and returns another Observable. It is a pure operation: the previous
        Observable stays unmodified.
      </p>
    </ckad-card-content>
  </ckad-card>

  <ckad-card class="bg-success">
    <ckad-card-header>
      <ckad-card-title class="ckad-display-2"
        >Creation Operators</ckad-card-title
      >
    </ckad-card-header>

    <ckad-card-content>
      <p>
        Creation Operators are the other kind of operator, which can be called
        as standalone functions to create a new Observable.
      </p>
    </ckad-card-content>
  </ckad-card>
</div>
