@use "../../../ui/styles/elements";

@mixin content() {
  h1 {
    margin-top: 0;
  }

  > * {
    margin-bottom: 1.5rem;
  }
}

@mixin form-line() {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: 0.5rem;
  }
}

@mixin card-grid() {
  @include elements.card-grid-make();
}
